.pagination {
    display: flex;
    gap: 6px;
    margin: 0 auto;
    justify-content: center;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 0%, 15%, 20%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
font-weight: 700;
font-size: 14px;
line-height: 129%;
color: #262626;


}

.active {
    background-color: #F6B83D;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .pagination {
        gap: 10px
    }

    .arrows {
        width: 44px;
        height: 44px;
        font-size: 18px;
        line-height: 122%;
    }
}

