.button {
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 30px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 129%;
    text-transform: uppercase;
    transition: all 250ms ease;
    flex: auto;
}

.primary {
     background-color: #F6B83D;
      color: #ffff;
}

.secondary {
    background-color: #FFF4DF;
    color: #F6B83D;
}

.primary:hover,
.primary:active {
    background-color: #fff4df;
    color: #f6b83d;
}

.secondary:hover,
.secondary:active {
    background-color: #FBE7C1;
}

@media screen and (min-width: 768px) {
    .button {
        padding: 15px 35px;
        font-weight: 700;
        line-height: 125%;
        font-size: 16px;
    }
}