.petsPage {
    padding: 50px 0px 88px 0px;
}

.formWrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 30px;
    background-color: #FFF4DF;
}

.categoryGender {
    display: flex;
    gap: 8px;
}

.select {
    border-radius: 30px;
padding: 0px 12px;
height: 42px;
background-color: #fff;
/* display: flex; */
align-items: center;
position: relative;

}

.iconSearch {
    fill: none;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.locationWrapper {
    position: relative;
}

.filtersForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radioButton {
    border-radius: 30px;
padding: 12px;
width: 90px;
height: 42px;
background-color: #fff;
border: none;
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.03em;
color: #262626;
display: flex;
justify-content: center;
align-items: center;

}

.radioWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}