.editWrapper {
  padding: 40px 20px;
}

.editParagraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.icon {
  width: 18px;
  height: 18px;
}

.uploadButton {
  padding: 13px 18px;
  border: solid 1px #fff;
  border-radius: 30px;
  letter-spacing: -0.02em;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  transition: all 250ms ease;
  color: #262626;
  background-color: #fff4df;
  margin: 0 auto;
}

.uploadButton:hover,
.uploadButton:active {
  background-color: #fff4df;
  color: #f6b83d;
}

.profileInfo {
  border: solid 1px #f6b83d;
  border-radius: 30px;
  width: 295px;
  height: 42px;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 12px;
}

.saveButton {
  margin-top: 11px;
}

@media screen and (min-width: 768px) {
  .editWrapper {
    padding: 50px;
  }

  .profileInfo {
    width: 100%;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    line-height: 125%;
  }

  .editProfileForm {
    gap: 14px;
  }

  .avatar {
    width: 86px;
    height: 86px;
  }

  .saveButton {
    margin-top: 26px;
  }

  .uploadButton {
    padding: 13px 22px;
  }
}
