.myPets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addPet {
  flex: none;
}

.icon {
  width: 18px;
  height: 18px;
}

.myPetsTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.profilePage {
  padding: 18px 0px 56px 0px;
}

.userBlockWrapper {
  padding: 18px 20px 40px 20px;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 40px;
}

.userPetsList {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 14px;
}

.noPetsNotice {
  color: #f6b83d;
  font-size: 18px;
  text-align: center;
}

.toggle {
  display: flex;
  gap: 10px;
  max-width: 256px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggleViewed {
  background-color: #fff;
  color: #262626;
  width: 50%;
  font-size: 14px;
  line-height: 129%;
  padding: 12px;
}

.toggleFavorite {
  width: 50%;
  font-size: 14px;
  line-height: 129%;
  padding: 12px;
}

.toggleFavorite:active,
.toggleFavorite:hover {
  background-color: #f6b83d;
  color: #fff;
}

.noticeParagraph {
  margin-top: 80px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #262626;
}

.notice {
  font-weight: 700;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .profilePage {
    padding: 32px 0px 60px 0px;
  }

  .userBlockWrapper {
    padding: 40px;
    margin-bottom: 32px;
  }

  .addPet {
    padding: 10px 20px;
  }

  .userPetsList {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 43px;
  }

  .toggle {
    min-width: 320px;
    gap: 8px;
  }

  .toggleViewed {
    font-size: 16px;
    padding: 14px;
  }

  .toggleFavorite {
    font-size: 16px;
    padding: 14px;
  }

  .noticeParagraph {
    margin: 180px 140px 122px 140px;
    width: 458px;
  }
}

@media screen and (min-width: 1280px) {
  .profilePage {
    display: flex;
    gap: 32px;
    padding: 32px 0px;
  }

  .userBlockWrapper {
    width: 400px;
    flex-shrink: 0;
    margin-bottom: 0;
    height: fit-content;
  }

  .userPetsList {
    flex-direction: column;
  }

  .noticeParagraph {
    margin: 180px 140px 180px 140px;
  }
}
