.title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.03em;
color: #262626;
margin-top: 60px;
margin-bottom: 20px;
}

.search {
  border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 12px 278px 12px 12px;
width: 335px;
height: 42px;
margin-bottom: 24px;
}