.search {
  border: 1px solid rgba(38, 38, 38, 0.15);
border-radius: 30px;
padding: 12px;
width: 335px;
height: 42px;
margin-bottom: 24px;
/* position: relative; */
}

.form {
  position: relative;
}

.clearButton {
  stroke: black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 width: 18px;
  height: 18px; 
  border: none;
  background-color: inherit;
}

.icon {
   width: 18px;
  height: 18px;
  fill: none;

}

.buttons {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12px;
  margin: auto 0;
}

.categoryGender {
  display: flex;

}

.select {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .search {
    width: 230px;
    height: 48px;
  }

  .buttons {
    top: 15px;
    right: 15px;
  }

  input::placeholder {
    font-size: 16px;
  }
}