.addPetSection {
    padding: 16px 0px 20px 0px ;
}

.formWrapper {
    padding: 28px 20px 20px 20px;
    border-radius: 30px;
    background-color: #fff;
}

.title {
    /* margin-top: 38px; */
    margin-bottom: 24px;
}

.iconList {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.iconMale {
    width: 32px;
    height: 32px;
    fill: none;
    /* stroke: #54ADFF; */
    outline: none; 
    border-radius: 50%; 
    transition: background-color ease-in-out 250ms;
}

.iconMale:hover,
.iconMale:active{
    /* stroke: #fff; */
    background-color: #a5cef7;
    /* fill: #fff; */
}

.iconFemale {
    width: 32px;
    height: 32px;
    fill: none; 
    border-radius: 50%;
    transition: background-color ease-in-out 250ms;
}

.iconFemale:hover,
.iconFemale:active {
    background-color: #ffc0cb;
}

.iconMultiple {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f7ecd7;
    transition: background-color ease-in-out 250ms;
}

.iconMultiple:hover,
.iconMultiple:active {
    background-color: #f9dba3;
}

.defaultAvatar {
    width: 34px;
    height: 34px;
}

.avatar {
     width: 68px;
    height: 68px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;

}

.iconWrap {
    width: 68px;
    height: 68px;
    background-color: #FFF4DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
       margin-bottom: 16px;
}

.icon {
  width: 18px;
  height: 18px;
}

.uploadButton {
  padding: 15px 20px;
  border: solid 1px #fff;
  border-radius: 30px;
  letter-spacing: -0.02em;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  transition: all 250ms ease;
  color: #262626;
  background-color: #fff4df;
  margin: 0 auto;
}

.uploadButton:hover,
.uploadButton:active {
  background-color: #fff4df;
  color: #f6b83d;
}

.back {
    background-color: hsl(0, 0%, 15%, 5%);
    color: #262626;
    padding: 12px 34px;
}

.submit {
    padding: 12px 26px;
}

.addButtonsList {
    display: flex;
    justify-content: right;
    width: 208px;
    margin-left: auto;
}

.profileInfo {
  border: solid 1px rgb(38, 38, 38, 15%);
  border-radius: 30px;
  width: 100%;
  height: 42px;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 12px;
  font-size: 14px;
}

.filled {
    border: solid 1px #F6B83D;
    border-radius: 30px;
    padding: 0 12px;
       border-radius: 30px;
}

.birthday {
    flex-basis: 50%;
}

.date {
      border: solid 1px rgb(38, 38, 38, 15%);
  border-radius: 30px;
  flex-basis: 50%;
  height: 42px;
  align-items: center;
  padding: 0 12px;
  width: 143px;
}

.species {
    flex-basis: 50%;
}

.birthdayTypeWrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
   
}

.select {
    border: solid 1px rgb(38, 38, 38, 15%);
    border-radius: 30px;
    flex-basis: 50%;
    width: 143px;
    padding: 0 12px;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
     margin-bottom: 31px;
}

.genderError {
    color: #ff0000;
    font-size: 14px;
    margin: auto 0;
}

@media screen and (min-width:768px) {
    .formWrapper {
        padding: 40px 136px;
        border-radius: 60px;
    }

    .uploadButton {
        max-width: 50%;
    }

    .profileInfo {
        font-size: 16px;
        padding: 16px;
    }

    .iconWrap {
    width: 86px;
    height: 86px;
    }

    .avatar {
     width: 86px;
    height: 86px;
    }

    .iconList {
        margin-bottom: 0;
    }

    .defaultAvatar {
    width: 44px;
    height: 44px;
}

.iconMale {
    width: 40px;
    height: 40px;
}

.iconFemale {
    width: 40px;
    height: 40px;
}

.iconMultiple {
    width: 40px;
    height: 40px;
}

.inputsWrapper {
    gap: 12px;
    margin-bottom: 46px;
}

.addButtonsList {
    width: 348px;
}

.addPetSection {
    padding: 32px 0px;
}
}

@media screen and (min-width:1280px) {
    .addPetSection {
            display: flex;
    gap: 32px;
    /* margin-top: 32px; */
    justify-content: center;
    align-items: center;
    }

    .title {
        font-size: 32px;
line-height: 100%;

    }

    .formWrapper {
        padding: 60px 80px;
        flex-basis: 50%;
    }

    .inputsWrapper {
        gap: 18px;
    }

    .profileInfo {
        height: 52px;
    }

    .select {
        height: 52px;
       padding: 2px 6px;
    }

    .date {
        height: 52px;
    }

    .filled {
        height: 52px;
    }

    .species {
padding: 2px 6px;
    }
}