@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(38, 38, 38, 1.5%);
}

ul,
ol {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
}